body {
    background-color: #0A0A0A;
    color: #00FF00;
    margin: 0;
}

.grid {
    margin: 2rem auto;
    box-sizing: border-box;
    cursor: pointer;
}

canvas.grid {
    display: block;
}

table.grid {
    border-spacing: 0px;
    table-layout: fixed;
}

table.grid td.cell {
    border: 1px solid #444;
    border-right: none;
    border-bottom: none;
    background-color: transparent;
    box-sizing: border-box;
}

table.grid td.cell:last-child {
    border-right: 1px solid #444;
}

table.grid tr.row:last-child td.cell {
    border-bottom: 1px solid #444;
}

table.grid td.cell.alive {
    background-color: #00FF00;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls button {
    color: #00FF00;
    background-color: transparent;
    border: 2px solid #00FF00;
    outline: none;
    cursor: pointer;
    margin-right: 8px;
}

.controls button:disabled {
    color: #444;
    border: 2px solid #444;
}

input[type=range] {
    -webkit-appearance: none;
    margin: 18px 0;
    width: 150px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: lightgray;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: lightgray;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

input[type=range]::-webkit-slider-thumb {
    height: 18px;
    width: 18px;
    margin-top: -7px;
    background-color: #00FF00;
    border-radius: 100%;
    cursor: pointer;
    -webkit-appearance: none;
}

input[type=range]::-moz-range-thumb {
    height: 18px;
    width: 18px;
    background-color: #00FF00;
    border-radius: 100%;
    cursor: pointer;
}

input[type=range]:disabled::-webkit-slider-thumb {
    background-color: #444;
}

input[type=range]:disabled::-moz-range-thumb {
    background-color: #444;
}